*{
    font-family: sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    margin: 0px;
}

header{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-color: #f15931;
    padding: 10px 20px;
}

header.cozinha{
    background-color: #202020;
    border-top: 1px solid #f15931;
}

h1, h2{
    text-align: center;
}

.imagem-principal{
    position: relative;
    text-align: center;
}

.imagem-principal img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.img-centro{
    font-family: Georgia;
    font-size: 60px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 10px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pedidos{
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-pedido{
    width: 200px;
    padding: 0px 10px;
    border: 2px solid #f15931;
    white-space: nowrap;
    overflow-x: auto;
    flex-grow: 0;
    margin: 5px 10px;
}

.card-pedido input, #valorTotal{
    width: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: #101010;
    background-color: white;
    border: none;
}

#valorTotal{
    font-size: 24px;
    font-weight: inherit;
    margin-left: -6px;
    width: 200px;
}

.card-pedido button{
    width: 35px;
    height: 30px;
}

.confirmacao{
    border-top: 2px dotted #f15931;
    margin-top: 100px;
    text-align: center;
}

.confirmacao h2{
    margin-left: 150px;
}

.formas-pagamento{
    margin: 0px 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px dotted #f15931;
}

.card-pagamento{
    width: 200px;
    background-color: white;
    padding: 0px 10px;
    border: 2px solid #101010;
    margin: 5px 10px;
    flex-grow: 0;
    transition: background-color 200ms;
    
}

.card-pagamento:hover{
    background-color: #f15931;
}

table.cozinha{
    border: 2px solid #101010;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
}

table.cozinha th{
    width: 25%;
    height: 75px;
}

table.cozinha td{
   height: 50px;
}

table.cozinha .detalhes{
    text-align: center;
    font-weight: bolder;
}

table.cozinha .detalhes a{
    border: 1px solid #101010;
    padding: 10px 25px;
}

table.cozinha .alterar-status{
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    width: 50px;
}

.cozinha-voltar{
    margin-top: 50px;
}

.cozinha-voltar a{
    border: 2px solid #101010;
    padding: 20px;
}