*{
    color: white;
    font-family: sans-serif;
}

body {
    background-color: #f15931;
    padding: 10% 30%;
}

.selecao {
    text-align: center;
}

.selecao-botoes{
    width: 200px;
    margin-left: auto;
    margin-right: auto; 
}

.selecao-botoes a{
    display: block;
    text-decoration: none;
    background-color: #101010;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid white;
    transition: background-color 200ms;
}

.selecao-botoes a:hover{
    background-color: white;
    color: #101010;
    transition-timing-function: linear;
}