*{
    color: white;
    font-family: sans-serif;
}

body {
    background-color: #f15931;
    padding: 10% 30%;
}

.selecao {
    text-align: center;
}

.selecao-botoes{
    width: 200px;
    margin-left: auto;
    margin-right: auto; 
}

.selecao-botoes button{
    background-color: #101010;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 5px;
    border: 2px solid white;
}

.selecao-botoes button:hover{
    background-color: white;
    color: #101010;
    transition: 0.2s;
}